ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: right;
}

li {
    display: block;
    color: black;
    text-align: center;
    padding: 0.5em 0.5em;
    font-family: arial;
    font-size: small;
    text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li:hover {
    text-decoration: underline;
}
center{
  padding-top:5em;
}
center, img{
  display: block;
  margin: 0 auto;
}
center, form, input{
  width: 70%;

}
